<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="slidesOpts" *ngIf="datalocalService.noticias.length===0">
    <ion-slides>
    <ion-label>No tienes noticias en Favoritos</ion-label>
  </ion-slides>
  </ion-slides>
<app-noticias *ngIf="datalocalService.noticias.length>0" 
  [enFavoritos]="true" 
  [noticias]="datalocalService.noticias">
</app-noticias>
</ion-content> 
